<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start"> 
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>details-StarShip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>
<ion-label>
{{StarShip.name}}
</ion-label>
</ion-item>
<ion-item>
<ion-label>
{{StarShip.model}}
</ion-label>
</ion-item>
<ion-item>
<ion-label>
{{StarShip.crew}}
</ion-label>
</ion-item> 
<ion-item>
    <ion-button  (click)="ReturnHome()">Home</ion-button>
    <ion-button  (click)="Delete()">Delete</ion-button>
</ion-item>   

</ion-content>
