<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
  <ion-col>
        </ion-col>

-->
<ion-content>


<ion-grid>
<ion-row>
<ion-col>

    <ion-button shape="round">Round Button</ion-button>
</ion-col>
</ion-row>
</ion-grid>


</ion-content>
  
       <!--

  <ion-grid>
        <ion-row>

        
        <ion-col>
            <table>
                <thead>
                    <tr>
                        <th >Nom</th>
                        <th >Model</th>
                        <th >Crew</th>
                    </tr>
                </thead>
                <tbody *ngFor="let Starship of transferDataService.FavoriteStarships">
                    <tr>
                        <td>{{Starship.name}}</td>
                        <td>{{Starship.model}}</td>
                        <td>{{Starship.crew}}</td>
                        <td><ion-button  (click)="favoriteRemove(Starship)">favorite Remove</ion-button></td>
                    </tr>
                  </tbody>
            </table>
          </ion-col>
        <ion-col>
        
      <table>
          <thead>
              <tr>
                  <th >Nom</th>
                  <th >Model</th>
                  <th >Crew</th>
              </tr>
          </thead>
          <tbody *ngFor="let Starship of transferDataService.Starships">
              <tr>
                  <td>{{Starship.name}}</td>
                  <td>{{Starship.model}}</td>
                  <td>{{Starship.crew}}</td>
                  <td><ion-button  (click)="DetailsStarShip(Starship)">Détails</ion-button></td>
                  <td><ion-button  (click)="favoriteAdd(Starship)">favorite Add</ion-button></td>
              </tr>
            </tbody>
      </table>
        </ion-col>
        </ion-row>
      </ion-grid>




      
--> 